.apod {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  min-height: 600px;

  &__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-right: 30px;

    &__title {
      margin-bottom: 20px;

      h1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        button {
          cursor: pointer;
          display: flex;
          align-items: center;
          background: transparent;
          border: 0;
          outline: 0;
          font-size: 16px;
        }
      }

      &__date {
        margin-top: 15px;
      }
    }

    &__description {
      p {
        font-size: 1.3rem;
      }
    }

    &__buttons-actions {
      display: flex;
      justify-content: space-between;
      margin: 60px 0;

      button {
        padding: 10px;
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
      }
    }
  }

  &__content {
    width: 50%;
    max-height: 550px;

    &__img {
        height: 100%;

      &__btn-like {
        display: none;
      }

      &__btn-full {
        display: none;
      }

      img {
        width: 100%;
        border-radius: 20px;
        max-height: 100%;
        object-fit: cover;
      }
    }

    &__copyright {
      text-align: right;
      padding: 10px 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .apod {
    flex-direction: column;
    margin: 0;

    &__information {
      width: auto;
      order: 1;
      margin-bottom: 100px;
      padding: 0 30px;
      margin-top: 30px;

      h1 button {
        display: none;
      }

      &__description p {
        font-size: 1rem;
      }

      &__buttons-actions {
        margin: 0;
        position: fixed;
        width: 90%;
        left: 0;
        bottom: 0;
        padding: 15px 20px;
        background: aliceblue;

        img {
          width: 32px;
        }
      }
    }

    &__content {
      width: 100%;
      margin: 0;
      margin-bottom: 30px;
      height: 350px;

      &__copyright {
        padding: 10px;
      }

      &__img {
        position: relative;

        img {
          border-radius: 0;
          height: 350px;
        }

        &__btn-like {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 1;

          button {
            background: #ffffff9c;
            border: 0;
            outline: none;
            padding: 10px;
            margin: 15px;
            border-radius: 14px;

            img {
                width: 32px;
                height: 32px;
            }
          }
        }

        &__btn-full {
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;

          button {
            background: #ffffff9c;
            border: 0;
            outline: none;
            padding: 10px;
            margin: 15px;
            border-radius: 14px;

            img {
                width: 32px;
                height: 32px;
            }
          }
        }
      }
    }
  }
}
